layout {
	pane {
		pane split_direction="vertical" {
			pane name="shell" command="bash" {
				args "-c" "${SHELL-bash}"
			}
			pane name="cartesi build" command="bash" {
				args "-c" "pnpm cartesi build;  ${SHELL-bash}"
			}
		}
	
	}
}
